body {
  background-image: url("http://cdn.hipwallpaper.com/i/0/68/OG1FLx.jpg");
}
h1 {
  display: flex;
  justify-content: center;
  color: rgb(255,0,0);
  font-family: arial black;
  font-size: 2.5em;
}
h2 {
  display: flex;
  justify-content: center;
  color: rgb(255,0,0);
  font-family: arial black;
  font-size: 1.5em;
  font-style: italic;
}

.outer {
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
labelClass {
  width: 30%;
  float: center;
  text-align: center;
  padding-right: 50px;
}
